.MuiInputLabel-filled {
    color: #000000;
  }

.MuiFormLabel-root{
    color: #000000 !important
  }

  
.MuiBox-root-2{
  margin-top: 20px !important
}

.MuiButton-outlinedPrimary {
  color: #000000 !important
}