@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.background {
  background-image: url("images/background/cool-background.png");
}
.portfoliogrid {
  background: #828282;
}
.main {
  min-height: '9000px';
  position: 'relative';

}
.mainsubtext {
  color: #ffffff;
}
.shadow {
  border: 1px solid;
  padding: 10px;
  box-shadow: 10px 10px 8px #000000;
}
.centeralingment {
  display: 'flex';
  justify-content: 'center';
  align-items: 'center';
}

.font {
  font-family: 'Roboto', sans-serif;
  margin-top: 50px;
}

.gridwidth {
  width: 1000px;
}

.nowrap {
  flex-wrap: nowrap;
}

.carousel-wrapper {
  margin: auto;
  width: 80%;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
